In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/processed/initial_cleaned_IT_survey.csv")
df.sample(3)

,timestamp,age,gender,city,position,experience,seniority_level,salary,salary_one_year_ago,language,company_size,company_type,survey_year,programming_language,vacation_days,сontract_duration
1530,11.12.2019 10:25:33,23.0,Female,Moscow,Data Engineer,4,Middle,32000.0,NaN,Russian,1000+,Product,2019,Hadoop,28.0,unlimited
381,16/12/2018 10:39:55,30.0,M,Berlin,Lead developer,9.0,Senior,75000.0,65000.0,English,50-100,Startup,2018,NaN,NaN,NaN
1375,06.12.2019 10:23:25,NaN,Female,Berlin,Manager,7,Senior,90000.0,NaN,English,1000+,Product,2019,Not Relevant,28.0,NaN

## Replacing Invalid DataPoints

- Unique Values from columns

In [3]:
na_columns = df.columns[(df.isna().mean() * 100 < 60) & df.isna().mean() * 100 > 0]

In [4]:
for each in na_columns:
    print(each)
    print(df[each].unique())
    print("-" * 10)

age
[43. 33. 32. 25. 39. 37. nan 36. 30. 40. 31. 29. 24. 44. 34. 28. 35. 38.
 27. 41. 26. 22. 42. 52. 50. 49. 23. 21. 48. 45. 60. 47. 46. 51. 54. 20.
 59. 66. 56. 53. 65. 69.]
----------
gender
['M' 'F' nan 'Male' 'Female' 'Diverse']
----------
city
['München' 'Berlin' 'Karlsruhe' 'Hamburg' 'Augsburg ' 'Bremen' 'Frankfurt'
 nan 'Regensburg' 'Lisbon' 'Leipzig' 'Stuttgart' 'Amsterdam' 'Luxembourg'
 'Bern' 'Bonn' 'Köln' 'Baden-Württemberg ' 'Frankonia' 'Stuttgart '
 'Mannheim ' 'Bayern' 'Tübingen' 'Brno' 'Dresden' 'Krakow' 'Dublin'
 'Eindhoven' 'Amsterdam ' 'Konstanz' 'Dublin ' 'Prague' 'Moscow'
 'Stockholm' 'Belgrade, Serbia' 'Kyiv' 'Nürnberg' 'Karlskrona' 'Krakau'
 'Vienna' 'London' 'Bitburg' 'Gdansk' 'Poland' 'Düsseldorf' 'Ludwigsburg'
 'Essen' 'Strasbourg' 'Alicante, Spain' 'Warsaw' 'Memmingen' 'Tallinn'
 'Zurich' 'oslo' 'Münster' 'Hildesheim' 'Krakow, Poland' 'Rosenheim'
 'Darmstadt' 'bremen' 'Brussels' 'Nürnberg ' 'Schleswig-Holstein' 'Riga'
 'Koblenz' 'homeoffice' 'Limassol' 'saint petersburg' 'Erlangen' 'Siegen'
 'Remote Germany' 'Ireland, Dublin' 'Oberhausen' 'estonia' 'Andernach'
 'Munich' 'Cologne' 'Wolfsburg' 'MA' 'Nuremberg' 'Wroclaw' 'Ingolstadt'
 'Dusseldorf' 'Freiburg' 'Pforzheim' 'Kassel ' 'Madrid' 'Marburg'
 'Hannover' 'Paris' 'Milan' 'Odesa' 'Cork' 'Zug' 'Heidelberg' 'Bielefeld'
 'Jyvaskyla' 'Toulouse' 'Dubai' 'Lingen' 'Lugano' 'Walldorf'
 'Braunschweig' 'Kaiserslautern' 'Saint Petersburg' 'Eindhoven '
 'Leeuwarden' 'Hilversum' 'Gdańsk' 'Gothenburg' 'Almere' 'Tampere'
 'Rotterdam' 'Antwerpen' 'Würzburg ' 'Lausanne' 'Nizhny Novgorod '
 'Saint-Petersburg ' 'Minsk' 'Utrecht' 'Kiev' 'Konstanz area' 'Kempten'
 'Moldova' 'Boeblingen' 'Ansbach' 'Mannheim' 'Tuttlingen' 'Aachen'
 'Karlsruhe ' 'Samara' 'Riga, Latvia' 'Helsinki' 'Würzburg' 'Den Haag'
 'Cracovia' 'Braunschweig ' 'Malta' 'Lübeck' 'Nuremberg ' 'Bodensee'
 'Salzburg' 'Rome' 'Cupertino' 'Paderborn' 'Ulm' 'Düsseldorf ' 'Barcelona'
 'Bölingen' 'Tampere (Finland)' 'Bucharest' 'Marseille' 'Friedrichshafen'
 'France' 'Warsaw, Poland' 'Heilbronn' 'Dortmund' 'Jena' 'City in Russia'
 'Cracow' 'Brunswick' 'Sofia' 'Luttich' 'Milano' 'Basel' 'NJ, USA'
 'Istanbul' 'warsaw' 'Heidelberg ' 'Murnau am Staffelsee ' 'Zürich'
 'Innsbruck' 'Brussels ' 'Hildesheim ' 'Prefer not to say' 'Dusseldurf'
 'Fr' 'Duesseldorf' 'Cambridge' 'Copenhagen' 'Sevilla' 'Ingolstadt '
 'Saint-Petersburg' 'Saarbrücken']
----------
position
['QA Ingenieur' 'Senior PHP Magento developer ' 'Software Engineer'
 'Senior Frontend Developer' 'UX Designer' 'Project Manager'
 'Senior Android Developer' 'Data science team lead'
 'Test Automation Engineer' 'Frontend Developer'
 'Senior Full-stack .Net Developer' 'QA Lead' 'Front-end engineer'
 'Software Developer' 'QA Test Engineer' 'QA Manager' 'CTO'
 'Cloud Consulting' 'QA' 'Frontend Engineer' 'Head of IT'
 'Senior Software Engineer' 'Operations manager' 'Product Manager'
 'Software engineer ( React/React-native )' 'iOS Developer '
 'Senior DevOps' 'C# Developer' 'ERP/BI Specialist' 'Full stack developer'
 'Systems Administrator' 'Senior Software Developer' 'C++ developer' 'PM'
 'Android Developer' 'Software Architect' 'Embedded Software Engineer'
 'iOS developer' 'Data Engineer' 'iOS Developer' 'PHP Developer'
 'Ruby developer' 'Embedded engineer' 'Java Fullstack Developer'
 'Mobile App Developer' 'Scala Developer' 'DevOps' 'Consultant' 'BA/PM'
 'DevOps Engineer' 'C++ Software Enginеer' 'Automation QA'
 'Java Developer' 'Backend Developer' 'Frontend developer' 'SDET'
 'Technical Lead' 'FrontEnd dev' 'Technical product manager'
 'Javascript software developer' nan 'Graphic Designer' 'Manager'
 'Senior/Lead Developer' 'Senior QA' 'Technical Product Manager'
 'Mobile Lead' 'Front-end developer' 'Data scientist' 'Head of Product '
 'Research Engineer' 'PHP Backend Developer' 'SW Developer'
 'Senior Engineer (PHP)' 'webdev' 'Web Developer ' 'QA '
 'Machine Learning Engineer' 'Data Scientist'
 'Principal Software Engineer' 'FrontEnd Developer'
 'Senior Javascript Engineer' 'Engineering Manager' 'SDE' 'Python dev'
 'QA Engineer ' 'Android developer ' 'Web Designer'
 'Senior Software Engineer ' 'Senior Backend Developer' 'Agile coach'
 'MTS' ' .Net Developer' 'Python developer' 'Embedded Developer'
 '.NET developer' 'Seniour software developer' 'Junior IT Manager'
 'Full stack developer ' 'IT Project Manager' 'Business Analyst'
 'fullstack developer' 'Frontent Developer' 'Senior Java Developer'
 'Scala developer' 'UX/UI designer' 'Senior Java' 'SRE' 'developer' 'DBA'
 'Computational Linguist' 'SAP Basis Administrator'
 'Programmierer/Consultant' 'Full stack engineer' 'Software engineer'
 'Database Administrator' 'Software Engineer JavaSctipt' 'Developer'
 'Head of Engineering' 'product manager' 'Angular' 'Full Stack Developer'
 'Mobile developer' 'Software Engineer (Android)' 'SAP Consultant'
 'QA Engineer' 'Computer Vision Engineer' 'Digital Project Manager'
 'Backend developer' 'Machine Learning Engineet' 'Lead Software Engineer'
 'Head of Development' '.net' 'IT Consultant' 'Embedded SW Developer'
 'C++ Developer ' 'System Engineer' 'Marketing Manager'
 'Software developer' 'Erlang Developer' 'backend developer' 'Engineer'
 'IT admin' 'Senior Ruby Developer' 'Senior Backend Engineer'
 'Senior software engineer' 'Senior Data Scientist' 'Fullstack JS'
 'Java developer' 'Principal Engineer ' 'PHP Dev' 'Big Data Engineer'
 'C++ Developer' 'Java Developer ' 'Sysadmin'
 'Low level software developer' 'Full-stack Developer'
 'Site Reliability engineer ' 'Project manager' 'Software Engineer '
 'Architect' 'Sales ops team lead ' 'Manual QA' 'Head of BI'
 'Senior PHP Developer' 'Fullstack' 'Team Lead' 'PD' 'IT Berater'
 'Java & JS Developer' 'Java developer ' 'Frontend developer '
 'DevOps engineer ' 'web developer' 'Senior Software engineer C++'
 'network engineer ' 'C# Developer ' 'Senior Sys Admin'
 'Senior PHP developer' 'QA Consultant ' 'TA Engineer'
 'Senior software engineer ' 'Java script' 'Frontend' 'Lead DevOps'
 'Hardware Engineer ' 'System Administrator' 'Python Developer'
 'Javascript Developer in Test' 'CEO' 'Front-end developer '
 'DevOps Architect ' 'BI Developer' 'SEM Manager' 'IOS developer '
 'Lead developer' 'Software Engineer 2(Frontend)' 'QA Automation Engineer'
 'Systems engineer' 'Oracle Developer' 'Oracle Pl/SQL Developer'
 'BI developer' 'Senior JS Enigneer' 'Perl/Java Developer'
 'Python Test Automation Engineer' 'Senior .Net developer' 'C++ Engineer'
 'IT Administration' 'iOS developer ' 'Scala\\Java'
 'Full-Stack Web Developer' 'Go Developer' 'ios developer'
 'Senior Fullstack' 'Java Software Engineer ' 'Senior Web Developer '
 'Java/JS Developer' 'Senior Software Engineer (Data Engineer)'
 'IT-Consultant' 'System administrator' 'Team lead PHP'
 'Web Analytics Manager' 'Deep Learning Researcher (PHD)'
 'Software Architekt ' 'Solution Engineer'
 'Senior SQL Server DBA/Developer' 'QA Automation'
 'Senior Software Ingenieur Java' '.net developer ' 'Lead Architect'
 'Quality engineer' 'Devops' 'Scrum Master' 'Software Test Engineer'
 'Sr. JS Developer' 'Javascript Developer' 'SAP Business Analyst'
 'Business Intelligence Analyst' 'Product manager'
 'Software Developer (Python Backend)' 'System administrator ' 'Designer'
 'CTO ' 'Lead Developer' 'java fullsteck developer'
 'Unreal Engine Developer, System Architect' 'Tech lead'
 'JavaScript Developer' 'Software engineer ' 'Senior iOS Developer'
 'Test Engineer' 'DB Developer' 'Ruby Developer'
 'SAP Consulter/ABAP Developer ' 'Business Analyst/RE' 'C++ sr. s/w dev'
 'Android dev' 'Senior Web Deleloper' 'Automation Test Engineer' 'SSE'
 'Web Developer' 'Senior .Net Developer' 'Front End Engineer'
 'Werkstudent Testautomatisierung' 'ios вумудщзук' 'iOS Developwr'
 '.NET Developer' 'C++ Software Engineer' 'Software Development Engineer'
 'Engineering consultant' 'Android developer' 'java developer'
 'System Architect' 'PHP Full Stack Developer' 'System Analyst'
 'DevOps engineer' 'Senior quant' 'Data Developer'
 'Data Processing Specialist' 'Senior Software engineer'
 'Senior Automation Test Engineer' 'Operations' 'Golang developer'
 'Softwaredeveloper' 'Front End developer' 'DevOps (MS Stack)'
 'Head of Data Science' 'DevOps Architect' 'Sr. Engineer'
 'qa ta architect' 'Head of Software Engineering ' 'Quality Engineer'
 'Java dev' 'PHP developer' 'Staff Technical Product Manager'
 'PHP Tech Lead' 'UI Designer' 'Pyhon developer' 'C++ Software Developer'
 'Java Team Lead' 'Quality assurance' 'DB ' 'Fullstack Engineer'
 'Senior automation qa' 'QA automation ' 'PL SQL / C#' 'Senior Consulter'
 'devops' 'Cloud Architect' 'SharePoint Developer' 'Big Data Developer '
 'DWH expert' 'Senior Full stack developer' 'Android dev.'
 'Senior Embedded Developer' 'C#.net Developer' 'It security '
 'Deep Learning Engineer' 'Application Engineer '
 'Software Engineer (java)' 'Senior Data Engineer' 'android developer'
 'PHP Symfony' 'C#' 'Java Full-Stack Developer'
 'IT Infrastructure consultant' '1С' 'Hardware Developer'
 'Software Tester' 'Web-Entwickler' 'Architekt'
 'ML/Research (30 hours weekly)' 'Electrical Engineer'
 'Research Scientist (AI)' 'Senior Research Engineer' 'Sr project manager'
 '.net c# developer' 'C++ Lead Developer' 'Network engineer'
 'data scientist' 'Security Researcher' 'team lead'
 'Senior javascript developer' 'Senior .NET Engineer'
 'Data Science Team Lead' 'Product Security Engineer' 'Php developer'
 'Javascript Engineer' 'IT recruiter ' 'NAV Developer ' 'C++  developer'
 'Solution Architect' 'Senior iOS developer'
 'System Administrator (Windows)' 'Lead Java Developer' 'DWH Developer'
 'Software Developer ' 'Backend Engineer'
 'Senior Software Testing Engineer' 'Full-stack developer' 'qa'
 'Sap developer' 'Full stack'
 'Senior Sotfware Engineer (Typescript/Javascript)' 'c# developer'
 'Data analyst' 'c++' '.net developer' 'Projectingenieur'
 'Gruppenleiter Testing' ' Java Developer' 'Teamlead'
 'Director of Engineering' 'Solutions architect' 'PCB Designer'
 'IT специалист' 'Front End Developer ' 'Associate IT Consultant' 'C# dev'
 'Java Script developer' 'BI Consultant' 'Senior Tech recruiter'
 'Computer Vision Intern' 'Devops Engineer' 'Software tester' 'Producer'
 'Senior QA Engineer' 'Senior Java developer' 'SAP Developer'
 'Sr. Database Entwickler (Oracle/Java)' '32' 'Lead software engineer'
 'Project Manager ' 'Softwareentwickler' 'IT Engineer'
 'Java Developer junior' 'E.g. C# Developer' 'Pm ' 'Fullstack Developer'
 'Mobile Developer' 'Designer (UI, UX)' 'Localization' 'Support'
 'CTO (CEO, CFO)' 'Database Developer (DBA)' 'Desktop/Unity3D Developer'
 'Recruiter ' 'Researcher' 'Cloud Platform Engineer' 'Lawyer '
 'IT Security' 'Sales Engineer' 'Mainframe' 'Network Engineer'
 'NLP Engineer' 'Head of AI' 'Tech Lead' 'Crypto Developer'
 'Modelling Specialist' 'RPA developer' 'Platform Engineer'
 'UX Researcher' 'Game Developer' 'Backend Developer & Team Lead'
 'support' 'DevOps Manager' 'Data Analyst' 'Desktop' 'Security Engineer'
 'Designer (UI/UX)' 'Test manager' 'Hardware Engineer'
 'Analytics engineer' 'Localization producer' 'Reporting Engineer'
 'Account Managet' 'agile master ' 'ML Engineer' 'Network Engineer '
 'VP Engineering' 'Agile Coach' 'Data Science Manager' 'Firmware Engineer'
 'Solutions Architect' 'Data Center Manager' 'C/C++/Java developer'
 'Network Administrator' 'Security Manager' 'Consultant Data Analytics'
 'BI IT Consultant' 'Banker' 'Cloud Engineer' 'Stuttgart'
 'Senior Program Manager' 'DB developer/Data analyst' 'Support Engineer'
 'Recruiter' 'Testautomation' 'Systemadministrator' 'SW Architect'
 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Tech Lead / Full-Stack' 'Marketing Analyst'
 'Senior Network&Security Eng.' 'Software tester '
 'SAP BW Senior Consultant ' 'QA Manager ' 'IT Spezialist' 'Consultant '
 'Software Developer in Test' 'Technical account manager ' 'Tech Leader'
 'Chief Research Officer' 'Presales Engineer '
 'Freelance AI lead / advisor' 'Business Development Manager Operations '
 'Program Manager' 'Engineering manager' 'Dana Analyst' 'Team Manager'
 'Data Analyst ' 'working student (QA)' 'Architect '
 'BI Consultant SAP/ Data Engineer' 'computer vision researcher' 'Analyst'
 'IT Manager' 'Head of IT ' 'Lead Software Developer' 'data engineer'
 'Tech recruiting' 'BI Analyst ' 'BI Developer / Data Engineer'
 'Senior Scrum Master (RTE)' 'Technical project manager'
 'Project manager ' 'support engineer' 'Security engineer' 'Manager '
 'Professor' 'AI Management' 'Sales ' 'XR Developer'
 'Student, Software Developer, Data Engineer' 'Engineering Team Lead'
 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Product Management Praktikant' 'Data analyst ' 'Product Analyst'
 'Team lead' 'It Consulting ' 'Data architect' 'Staff Engineer'
 'Computational linguist' 'Rentner' 'technical business analyst'
 'Full-Stack Developer' 'Robotics Engineer' 'DatabEngineer'
 'Application Consultant' 'Software Architekt' 'Testmanager'
 'ERP Consultant' 'Researcher/ Consumer Insights Analyst '
 'IT Operations Manager']
----------
experience
['11.0' '8.0' '10.0' '6.0' '5.0' '3.0' '18.0' nan '4.0' '17.0' '19.0'
 '15.0' '12.0' '2.0' '1.0' '9.0' '7.0' '20.0' '7.5' '14.0' '13.0' '0.5'
 '2.5' '1.5' '16.0' '0.0' '25.0' '30.0' '38.0' '21.0' '4.5' '13' '3' '4'
 '6' '10' '11' '12' '15' '8' '7' '9' '2' '5' '16' '20' '14' '18' '19' '0'
 '25' '1' '17' '22' '24' '30' '28' '40' '26' '23' '5.5' '0.8' '6.5' '21'
 '29' '1,5' '27' '1 (as QA Engineer) / 11 in total' '2,5'
 '15, thereof 8 as CTO' '31'
 '6 (not as a data scientist, but as a lab scientist)' '383' '3.5'
 'less than year']
----------
seniority_level
['Senior' 'Middle' 'Junior' nan 'Head' 'Lead' 'Principal' 'No level' 'VP'
 'Manager' 'Work Center Manager' 'CTO' 'No level ' 'Director' 'Key'
 'C-level executive manager' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'Entry level' 'Intern' 'student' 'Self employed']
----------
salary
[7.700000e+04 6.500000e+04 8.800000e+04 7.800000e+04 6.900000e+04
 9.800000e+04 1.090000e+05 6.000000e+04 7.000000e+04 5.500000e+04
 9.450000e+04 4.600000e+04 6.800000e+04 6.250000e+04 8.000000e+04
 1.322500e+05 5.300000e+04 5.200000e+04 9.500000e+04 7.200000e+04
 6.600000e+04 7.580000e+04 8.400000e+04 5.700000e+04 5.800000e+04
 3.600000e+04 7.500000e+04 9.000000e+04 1.130000e+05 5.000000e+04
 7.100000e+04 4.900000e+04 5.600000e+04 3.000000e+04 4.500000e+04
 4.000000e+04 5.400000e+04 4.800000e+04 6.100000e+04 8.700000e+04
 7.300000e+04 8.500000e+04 8.200000e+04 6.700000e+04 6.200000e+04
 8.300000e+04 1.000000e+05 1.200000e+05 7.860000e+04 8.900000e+04
 4.300000e+04 1.070000e+05 6.400000e+04 6.300000e+04 5.040000e+04
 3.200000e+04 4.200000e+04 7.400000e+04 7.250000e+04 1.020000e+05
 3.500000e+04 5.580000e+04 1.150000e+05 1.760000e+05 4.400000e+04
 9.200000e+04 1.250000e+05 7.600000e+04 4.850000e+04 3.400000e+04
 7.050000e+04 9.600000e+04 8.600000e+04 2.000000e+05 7.330000e+04
 7.350000e+04 1.300000e+05 4.750000e+04 8.100000e+04 1.400000e+05
 5.350000e+04 8.797500e+04          nan 3.150000e+04 1.100000e+05
 1.120000e+05 5.900000e+04 4.700000e+04 6.840000e+04 6.720000e+04
 1.110000e+05 4.080000e+04 9.210000e+04 3.800000e+04 1.030000e+04
 2.400000e+04 3.960000e+04 6.440000e+04 5.780000e+04 2.040000e+04
 4.730000e+04 2.316200e+04 1.753200e+04 1.920000e+04 5.175000e+04
 1.080000e+05 3.840000e+04 5.100000e+04 6.960000e+04 5.850000e+04
 1.500000e+05 4.725000e+04 3.900000e+04 6.450000e+04 1.220000e+05
 1.650000e+05 1.380000e+05 3.915000e+04 6.750000e+04 3.700000e+04
 3.360000e+04 1.320000e+05 8.750000e+04 1.280000e+05 1.800000e+05
 5.750000e+04 1.030000e+05 5.360000e+04 5.160000e+04 6.050000e+04
 1.500000e+04 1.270000e+05 9.300000e+04 2.700000e+04 3.300000e+04
 8.320000e+04 8.040000e+04 1.300000e+04 7.150000e+04 5.555500e+04
 1.600000e+05 1.900000e+05 5.660000e+04 5.630000e+04 8.957000e+04
 5.650000e+04 2.100000e+05 9.400000e+04 1.060000e+05 5.950000e+04
 1.750000e+05 6.180000e+04 4.937500e+04 6.870000e+04 3.320000e+04
 1.140000e+05 7.900000e+04 8.760000e+04 7.740000e+04 4.320000e+04
 6.350000e+04 7.750000e+04 1.320000e+04 8.160000e+04 1.240000e+05
 1.700000e+05 3.444600e+04 8.020000e+04 7.570000e+04 6.340000e+04
 1.050000e+05 2.350000e+04 7.650000e+04 5.250000e+04 5.220000e+04
 1.350000e+05 2.200000e+04 2.000000e+04 1.040000e+05 1.440000e+04
 3.940000e+04 2.160000e+05 1.330000e+05 6.360000e+04 9.100000e+04
 5.390000e+04 6.480000e+04 5.107200e+04 4.560000e+04 6.634000e+04
 6.060000e+04 2.830000e+04 7.440000e+04 8.340000e+04 6.930000e+04
 1.550000e+05 1.400000e+04 8.050000e+04 3.530000e+04 4.014600e+04
 7.420000e+04 1.170000e+05 5.760000e+04 3.681900e+04 2.160000e+04
 8.250000e+04 6.850000e+04 7.770000e+04 5.080000e+04 4.116000e+04
 1.076850e+05 8.670000e+04 6.000000e+03 1.010000e+05 2.797700e+04
 1.560000e+04 6.780000e+04 5.280000e+04 7.320000e+04 7.490000e+04
 6.035000e+04 4.740000e+04 7.020000e+04 7.106000e+04 2.800000e+04
 7.080000e+04 8.920000e+04 6.150000e+04 5.520000e+04 9.250000e+04
 9.900000e+04 6.120000e+04 3.750000e+04 1.236000e+05 2.640000e+04
 6.680000e+04 5.640000e+04 8.120000e+04 6.540000e+04 5.450000e+04
 1.016400e+04 7.850000e+04 1.200000e+04 9.550000e+04 7.760000e+04
 1.471200e+04 2.880000e+04 7.690000e+04 1.870000e+04 2.112000e+04
 6.630000e+04 7.930000e+04 1.560000e+05 6.370000e+04 6.920000e+04
 1.540000e+05 3.000000e+05 2.500000e+05 5.880000e+04 7.175000e+04
 8.190000e+04 1.590000e+05 5.776000e+04 2.300000e+04 2.900000e+04
 1.100000e+04 8.500000e+05 2.400000e+05 1.518720e+05 5.000000e+08
 8.150000e+04 1.000100e+04 6.747300e+04 6.650000e+04 5.670000e+04
 7.725000e+04 2.500000e+04 4.920000e+04 2.100000e+04 2.530000e+04
 8.560000e+04 1.720000e+05 5.417913e+04 5.775000e+04 5.906400e+04
 6.240000e+04 6.560000e+04 5.550000e+04 7.370000e+04 8.755000e+04
 4.070000e+04 4.774500e+04 4.350000e+04 4.985000e+04 4.550000e+04
 1.150000e+04 1.750000e+04 6.590000e+04 1.632000e+04 6.825000e+04
 8.470000e+04 5.050000e+04 1.085000e+05 3.835000e+04]
----------
salary_one_year_ago
[7.6200e+04 5.5000e+04 7.3000e+04 6.0000e+04 9.6000e+04 5.0000e+04
 1.0500e+05 5.8000e+04 4.8000e+04 5.7500e+04 6.6000e+04        nan
 9.1300e+04 4.4000e+04 6.5000e+04 4.7000e+04 6.2500e+04 7.0000e+04
 9.2600e+04 5.3000e+04 4.0000e+04 9.5000e+04 7.4000e+04 7.2000e+04
 8.4000e+04 5.2000e+04 5.6000e+04 1.0000e+05 8.0000e+04 4.5000e+04
 7.8000e+04 5.7000e+04 6.1000e+04 6.8000e+04 2.2400e+04 4.6000e+04
 4.9050e+04 7.5000e+04 2.9000e+04 2.0000e+04 8.5000e+04 4.1000e+04
 6.2000e+04 3.0000e+04 9.0000e+04 3.6000e+04 5.1000e+04 5.4000e+04
 2.3000e+04 8.2000e+04 4.3200e+04 1.3000e+04 4.2000e+04 9.2000e+04
 3.5000e+04 5.2800e+04 6.3000e+04 1.1000e+05 2.4480e+04 8.8000e+04
 6.9000e+04 7.7000e+04 5.7600e+04 1.1500e+05 7.1000e+04 3.4000e+04
 9.4000e+04 5.5700e+04 6.7000e+04 4.3000e+04 7.6000e+04 2.5000e+04
 8.7000e+04 2.0000e+05 1.2000e+05 4.9500e+04 7.2500e+04 1.3000e+05
 2.4000e+04 1.2500e+05 5.3500e+04 6.0500e+04 5.0400e+04 1.7400e+04
 1.8000e+04 5.9000e+04 6.4000e+04 7.9000e+04 3.9200e+04 2.8000e+04
 8.9300e+04 1.0300e+04 1.6500e+04 3.3600e+04 5.8400e+04 2.0400e+04
 1.0500e+04 2.3162e+04 9.7000e+04 8.9000e+04 1.1520e+04 3.1000e+04
 1.4400e+04 1.2000e+04 9.3000e+04 3.8000e+04 5.2600e+04 1.2400e+05
 3.3550e+04 1.0800e+04 6.7500e+04 8.4500e+04 1.1900e+05 3.7000e+04
 1.0600e+05 4.4800e+04 5.2200e+04 1.4000e+04 6.8600e+04 1.2900e+05
 3.9000e+04 1.2300e+05 1.0001e+04 7.6500e+04 5.5555e+04 8.3000e+04
 7.8600e+04 1.0750e+05 8.2160e+04 6.3600e+04 8.6900e+04 4.7250e+04
 1.0200e+05 3.2000e+04 7.3500e+04 5.7200e+04 6.1200e+04 1.6000e+05
 3.3000e+04 4.6250e+04 5.6400e+04 1.1700e+05 8.2500e+04 1.1400e+05
 7.6800e+04 4.7500e+04 1.4600e+05 6.1500e+04 9.8000e+04 1.0000e+04
 6.8400e+04 8.1000e+04 5.8000e+01 1.2700e+05 1.7000e+04 4.9000e+04
 1.0300e+05 6.4500e+04 6.1100e+04 1.9600e+04 7.2000e+03 1.0700e+05
 5.6100e+04 1.4400e+05 9.0000e+03 4.8500e+04 7.0200e+04 2.5200e+04
 6.4800e+04 1.1200e+05 1.0000e+00 7.6300e+04 2.7500e+04 0.0000e+00

In [5]:
df['experience'] = df['experience'].replace({"1 (as QA Engineer) / 11 in total" : '11', "15, thereof 8 as CTO" : '15',
                                            "6 (not as a data scientist, but as a lab scientist)" : '6', "383" : np.nan,
                                            "less than year" : '1', "2,5" : "2.5", "1,5" : "1.5"})

In [6]:
df['city'] = df['city'].replace({"Prefer not to say" : np.nan})

In [7]:
df['сontract_duration'] = df['сontract_duration'].replace({"Unlimited contract" : 'unlimited', "Temporary contract" : "temporary", 
                                 "0" : np.nan, "1 year" : '1Y', "more than 1 year" : '1Y+', '6 months' : '6M',
                                "3 months" : '3M', "less than 3 months" : '-3M'})

In [8]:
df['vacation_days'] = df['vacation_days'].replace({"30 in contract (but theoretically unlimited)" : "unlimited", '(no idea)' : np.nan,
                            "unlimited " : 'unlimited', 'Unlimited ' : 'unlimited', 'Unlimited' : 'unlimited',
                            '24 labour days' : '24', '23+' : '23', "~25" : '25'})

In [9]:
df['company_type'] = df['company_type'].replace({'eCommerce' : "E-commerce", "E-Commerce" : "E-commerce", 
                    "Ecommerce" : 'E-commerce', "e-commerce" : "E-commerce", "IT Consulting " : "IT Consultancy",
                    "IT Consultancy " : "IT Consultancy", "IT Consultants" : "IT Consultancy", "Consult" : "IT Consultancy",
                    "IT Consulting" : "IT Consultancy", "Consultancy" : "IT Consultancy", "Consulting" : "IT Consultancy",
                    "Full-time position in Education, part-time position in at a data startup" : "Education", 
                    "Consulting Company" : "IT Consultancy", "consulting" : "IT Consultancy", })

In [10]:
df['company_size'] = df['company_size'].replace({"101-1000" : "100-1000", "51-100" : "50-100", "11-50" : "10-50", 
                            "up to 10" : "upto-10"})

In [11]:
df['language'] = df['language'].replace({"Team - Russian; Cross-team - English;" : "Russian/English", 
                        'Russian, English' : "Russian/English", "Deutsch/Englisch" : "Deutsch/English",
                        'English+Deutsch' : "Deutsch/English", "Polish+English" : "Polish/English",
                        'English and German' : 'English/German', "50/50" : np.nan, "both" : np.nan,
                        "Deuglisch" : 'Deutsch/English'})

In [12]:
df['seniority_level'] = df['seniority_level'].replace({"no idea, there are no ranges in the firm " : np.nan, 
                        "student" : 'Student', 'intern' : 'Intern', "No level " : np.nan, "No level" : np.nan, 
                        "C-level executive manager" : 'C-Level', "Working Student" : "Student"})

In [13]:
df['gender'] = df['gender'].replace({"Male" : 'M', "Female" : 'F', "Diverse" : np.nan})

## Type convertion

In [14]:
def date_format(date: str) -> str:
    real = date.split(" ")
    result = real[0]
    result = "/".join(result.split("."))
    return result+ " " +real[1]

In [15]:
df['timestamp'] = df['timestamp'].apply(date_format)
df['age'] = df['age'].astype("Int8")
df['experience'] = df['experience'].astype("Float32").astype("Int8")
df['timestamp'] = pd.to_datetime(df['timestamp'], dayfirst=True)
df['survey_year'] = df['survey_year'].astype("int8")
df['salary'] = df['salary'].astype("float32")
df['salary_one_year_ago'] = df['salary_one_year_ago'].astype("float32")

## Handle Missing Values

In [16]:
mean_imputer = SimpleImputer()
mode_imputer = SimpleImputer(strategy="most_frequent")

In [17]:
(df.isna().mean() * 100).sort_values(ascending=False)

salary_one_year_ago     30.277685
programming_language    29.642021
vacation_days           29.240549
сontract_duration       26.898628
age                      7.059217
company_type             2.408832
seniority_level          1.137504
experience               1.070592
company_size             0.903312
city                     0.635664
language                 0.602208
position                 0.568752
gender                   0.368016
salary                   0.100368
timestamp                0.000000
survey_year              0.000000
dtype: float64

- Mean Imputer : for numerical variables

In [29]:
df['age'] = pd.Series(mean_imputer.fit_transform(df['age'].to_numpy().reshape(-1,1)).flatten()).astype(np.int8)
df['experience'] = pd.Series(mean_imputer.fit_transform(df['experience'].to_numpy().reshape(-1,1)).flatten()).astype(np.int8)

- Mode Imputer : for catagorical variables

In [53]:
df['gender'] = pd.Series(mode_imputer.fit_transform(df['gender'].to_numpy().reshape(-1, 1)).flatten())
df['company_type'] = pd.Series(mode_imputer.fit_transform(df['company_type'].to_numpy().reshape(-1, 1)).flatten())

- Impute With unknown/0

In [56]:
df = df.fillna({"city" : "unknown", "position" : "unknown", "seniority_level" : "unknown", "language" : "unknown",
          "company_size" : "unknown", "salary" : 0, "salary_one_year_ago" : 0})