In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/processed/initial_cleaned_IT_survey(v.0.2).csv")
df.sample(3)

,timestamp,age,gender,city,seniority_level,position,experience,programming_language,salary,salary_one_year_ago,vacation_days,language,company_size,company_type,contract_duration,survey_year
1750,2020-11-26 11:45:08,32,M,Prague,Senior,Software Engineer,8,"C, C++",36000.0,26000.0,25,Czech,1000+,Product,unlimited,2020
1424,2020-11-24 21:07:50,29,M,Berlin,Senior,Frontend Developer,8,JavaScript / typescript,69000.0,0.0,30,English,1000+,Product,unlimited,2020
1832,2020-11-27 13:38:23,40,M,Berlin,Head,Product Manager,13,Not Provided,90000.0,75000.0,30,English,1000+,Product,unlimited,2020

## Exploratory Data Analysis