In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/processed/tranformed_IT_survey(v.0.1).csv")
df.sample(3)

,timestamp,age,gender,city,seniority_level,position,experience,programming_language,salary,salary_one_year_ago,vacation_days,language,company_size,company_type,contract_duration,survey_year
361,03.12.2019 18:37:06,31.0,Female,Frankfurt,Senior,Backend Developer,7,Java,68000.0,72000.0,28.0,English,10-50,Startup,unlimited,2019
829,13.12.2019 07:38:58,25.0,Male,Berlin,Middle,Fullstack Developer,3,PHP,30000.0,27500.0,27.0,Deutsch,10-50,Startup,unlimited,2019
40,02.12.2019 11:46:58,35.0,Male,Cologne,Senior,Backend Developer,4,Java,67000.0,NaN,30.0,English,50-100,Startup,unlimited,2019

## Replacing Invalid DataPoints

- Unique Values from columns

In [3]:
na_columns = df.columns[(df.isna().mean() * 100 < 60) & df.isna().mean() * 100 > 0]

In [4]:
for each in na_columns:
    print(each)
    print(df[each].unique())
    print("-" * 10)

age
[33. 29. nan 30. 32. 34. 38. 27. 31. 23. 24. 28. 44. 26. 36. 37. 35. 40.
 39. 43. 46. 47. 25. 42. 45. 48. 41. 54. 22. 49. 20. 21. 52. 50. 59. 66.
 56. 53. 65. 51. 69.]
----------
gender
['Male' 'Female' nan 'Diverse']
----------
seniority_level
['Senior' 'Middle' 'Head' 'Lead' nan 'Junior' 'Principal' 'No level' 'VP'
 'Manager' 'Work Center Manager' 'CTO' 'No level ' 'Director' 'Key'
 'C-level executive manager' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'Entry level' 'Intern' 'student' 'Self employed']
----------
position
['Fullstack Developer' 'Backend Developer' 'Mobile Developer'
 'Embedded Developer' 'Machine Learning Engineer' 'Manager' 'DevOps'
 'Designer (UI, UX)' 'Frontend Developer' 'Data Scientist' 'Data Engineer'
 'QA' 'Software Architect' 'Business Analyst' 'Localization' 'Support'
 'System Administrator' 'Product Manager' 'SAP Consultant' 'SRE'
 'Software Engineer' 'CTO (CEO, CFO)' 'Database Developer (DBA)'
 'Desktop/Unity3D Developer' 'Recruiter ' 'Researcher' nan
 'Cloud Platform Engineer' 'Lawyer ' 'IT Security' 'Sales Engineer'
 'Mainframe' 'Network Engineer' 'NLP Engineer' 'Head of AI'
 'Head of Engineering' 'Tech Lead' 'Crypto Developer'
 'Modelling Specialist' 'RPA developer' 'Platform Engineer'
 'UX Researcher' 'Game Developer' 'Backend Developer & Team Lead'
 'support' 'DevOps Manager' 'Solution Architect' 'Scrum Master'
 'Data Analyst' 'Desktop' 'Product manager' 'Security Engineer'
 'Designer (UI/UX)' 'Team Lead' 'Test manager' 'QA Engineer'
 'Hardware Engineer' 'Engineering Manager' 'Analytics engineer'
 'Localization producer' 'Reporting Engineer' 'Account Managet'
 'agile master ' 'ML Engineer' 'BI Consultant' 'Cloud Architect'
 'Project Manager' 'Network Engineer ' 'VP Engineering' 'Agile Coach'
 'Data Science Manager' 'Firmware Engineer' 'Solutions Architect'
 'Data Center Manager' 'C/C++/Java developer' 'Network Administrator'
 'Security Manager' 'Consultant Data Analytics' 'BI IT Consultant'
 'Graphic Designer' 'iOS Developer' 'Banker' 'Cloud Engineer'
 'Solutions architect' 'Stuttgart' 'Senior Program Manager'
 'DB developer/Data analyst' 'DBA' 'Support Engineer' 'Consultant'
 'Recruiter' 'Testautomation' 'SAP Developer' 'Systemadministrator'
 'SW Architect' 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Project manager' 'Architect' 'Technical Lead' 'Tech Lead / Full-Stack'
 'Marketing Analyst' 'CTO' 'Senior Network&Security Eng.'
 'Software tester ' 'SAP BW Senior Consultant ' 'QA Manager '
 'Director of Engineering' 'IT Spezialist' 'Consultant '
 'Software Developer in Test' 'Technical account manager ' 'Tech Leader'
 'Chief Research Officer' 'Presales Engineer '
 'Freelance AI lead / advisor' 'Business Development Manager Operations '
 'Program Manager' 'Engineering manager' 'Embedded Software Engineer'
 'Dana Analyst' 'Team Manager' 'Data Analyst ' 'working student (QA)'
 'Architect ' 'BI Consultant SAP/ Data Engineer'
 'computer vision researcher' 'Teamlead' 'Senior Data Engineer' 'Analyst'
 'IT Manager' 'Head of IT ' 'Lead Software Developer' 'data engineer'
 'Tech recruiting' 'BI Analyst ' 'BI Developer / Data Engineer'
 'Senior Scrum Master (RTE)' 'Head of BI' 'Technical project manager'
 'Project manager ' 'support engineer' 'Security engineer'
 'Big Data Engineer' 'Manager ' 'Professor' 'AI Management' 'Sales '
 'XR Developer' 'Student, Software Developer, Data Engineer'
 'Engineering Team Lead' 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Product Management Praktikant' 'Data analyst ' 'Product Analyst'
 'Team lead' 'It Consulting ' 'Data architect' 'Staff Engineer'
 'Head of IT' 'Computational linguist' 'Rentner'
 'technical business analyst' 'Full-Stack Developer' 'QA Manager'
 'QA Lead' 'Robotics Engineer' 'DatabEngineer' 'Application Consultant'
 'Lead Developer' 'Software Architekt' 'Testmanager' 'ERP Consultant'
 'Researcher/ Consumer Insights Analyst ' 'IT Operations Manager']
----------
experience
['13' '3' '4' '6' '10' '11' '12' '15' '8' '7' '9' '2' '5' '16' '20' '14'
 '18' '19' '0' '25' '1' '17' '22' '24' '30' '28' nan '40' '26' '23' '5.5'
 '0.8' '1.5' '6.5' '21' '7.5' '2.5' '29' '1,5' '4.5' '27'
 '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO' '31'
 '6 (not as a data scientist, but as a lab scientist)' '383' '3.5'
 'less than year']
----------
programming_language
['PHP' 'Python' 'Kotlin' 'C/C++' 'Java' 'Not Relevant' 'Swift'
 'Javascript / Typescript' 'Go' 'AWS' 'Kubernetes' 'Ruby' '.NET' 'Scala'
 'Clojure' nan 'Yaml' 'Linux-Stack, Networking' 'Azure' 'Elixir'
 'Multiple' 'Objective-C' 'Microsoft, Vmware' 'Google Cloud' 'SAP / ABAP'
 'SQL' 'R' 'SAS' 'Powershell' 'Rust' 'Solidity' 'ASM' 'Cobol' 'Perl'
 'Cisco' 'Hadoop' 'Erlang' 'Unity' 'HR' 'K8S' 'ABAP' 'PostgreSQL'
 'Openstack' 'TypeScript' 'Javascript' 'C# .NET' 'AWS, GCP, Python,K8s'
 'Typescript' 'Aws Hadoop Postgre Typescript' 'C++' 'kotlin' 'NodeJS'
 'iOS' 'Charles' 'java' 'Figma' 'JavaScript' 'Go/Python' 'React' 'С#'
 'Php' 'ruby on rails' 'JavaScript/ES6' 'Hardware' 'C#'
 'Google Cloud Platform' 'Js' 'android' 'JavaScript ' 'python'
 'C#, .net core' 'VHDL' 'Power BI' 'PHP ' 'none' 'Android' 'ML' 'php'
 'Scala, React.js' 'Ml/Python' 'JavaScript/TypeScript' 'Ruby on Rails'
 'Azure, SAP' 'Frontend' 'Java, JavaScript' 'yaml' 'Python ' 'JS' 'Java '
 '-' 'Agile' 'C' 'TypeScript, JavaScript' 'Pegasystems platform '
 'C++, Java, Embedded C' 'Cloud' 'DC Management' '--' 'SWIFT'
 'Java, angular, Aws' 'Swift, objective-c' 'Golang' 'go' 'DevOps' '.net'
 'Node.js' 'Java, Javascript' 'Bash' '.Net' 'Network' 'nothing'
 'Qlik BI Tool, SQL' 'Blockchain' 'Angular' 'Autonomous Driving' 'c#'
 'Js, TypeScript, Angular' 'T-SQL' 'c++' 'Java, terraform'
 'Pascal, VB.NET, C#' 'Oracle' 'Javascript ' 'Angular, React'
 'NodeJS, Typescript, AWS' 'Java, JS' 'QA' 'C++/C#' 'Java/Kotlin'
 'Typescript / Angular' 'React/Typescript' 'Golang ' 'Salesforce '
 'javascript' 'Java/C++' 'Scala / Python' 'Java/Scala' 'Web developer'
 'JavaScript/Typescript' 'TypeScript, React' 'Python / JavaScript (React)'
 'JavaScript / typescript' 'Terraform' 'JAVA' 'Apache Spark'
 'Computer Networking,  Network Security ' 'SAP BW / ABAP' 'Go, PHP, SQL'
 'Kotlin ' 'Jira' 'Qml' 'C#/.NET' 'Kotlin, Java' 'Linux Kernel' 'several'
 'Android/Kotlin' 'embedded' 'Java/Groovy' 'typescript' 'Python + SQL'
 'Typescript, Web apps' 'Terraform ' 'Java, .Net'
 'Python, statistics, SQL' 'Sql, BQ, tableau, gtm, ga' 'React '
 'Business Development Manager Operation ' 'Management' 'Java, Kotlin'
 'Nodejs' 'TS' 'sql' 'Spark, Pytorch' 'java/scala/go/clouds/devops'
 'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts'
 'Python, SQL' 'DWH' 'Sketch, Figma' 'js' 'k8s' 'Frontend: react, node.js'
 'VB, RPA, Python' 'FBD' 'C, C++' 'Swift, Objective-C, iOS' 'Embedded'
 'JavaScript / TypeScript' 'Kubrrnetes'
 'networking, linux, automation, cloud' 'UML' 'Spark' 'Js, reactJS ' 'SRE'
 'JS, WDIO' 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet' 'Spring'
 'swift' 'Офмф' 'React JS' 'Typescript ' 'TypeScript/Angular' 'golang'
 'Kotlin/PHP' 'SAP ABAP' 'AI' 'pythin' 'julia' 'Java & PHP' 'Sql ' 'C++/c'
 'Angular, Typescript' 'Pyrhon' 'PM tools' 'Grails, Groovy' 'python '
 'React / JavaScript' 'Python, cloud computing ' 'Haskell' 'JavScript'
 'Python (Django)' 'Network Automation' 'Kubernetes, Terraform, GCP'
 'PowerShell' 'python, scala' 'Django, Flask, Plotly Dash' 'Sql'
 'Javascript, Angular' 'SAS,SQL,Python' 'Node' 'Python/SQL'
 'php, js, python, docker' 'C, Matlab' 'TypeScript, Kotlin' 'Apotheker'
 'JavaScript, TypeScript' 'Tricentis Tosca' 'Swift/Kotlin'
 'Java & Distributed Systems Stuff' 'jenkins bash' 'Test Management '
 'NodeJS/TS' 'PHP/MySQL' 'Angular, TypeScript' 'NLP, Python'
 'Python, Whole Apache Data Science Stack, AWS' 'Embedded C++' 'NodsJs'
 'Javascript/Typescript' 'Linux' 'Kuberenetes, Openstack' 'c/c++'
 'JS, Java' 'Python, Pytorch' 'PS, Sketch, React, CSS3' 'Python/NLP'
 'Scala, Apache Spark' 'Swift, Objective-C' 'React.js / TypeScript'
 'BI, DWH, ETL/ELT' 'GCP' 'Web' 'PL/SQL' 'SAP' 'scala' 'Java / Scala'
 'Magento' 'Python, database technologies' 'C++, C#' 'Java Backend'
 '.net, c++, spss, embeddded' '.Net, Angular' 'Atlassian JIRA' 'Qlik'
 'spark' 'consumer analysis']
----------
salary
[6.400000e+04 5.500000e+04 7.000000e+04 6.300000e+04 6.600000e+04
 8.000000e+04 8.500000e+04 8.100000e+04 6.500000e+04 8.300000e+04
 7.200000e+04 8.700000e+04 9.000000e+04 7.800000e+04 1.600000e+05
 7.500000e+04 6.000000e+04 6.700000e+04 7.860000e+04 5.800000e+04
 1.900000e+05 6.900000e+04 6.200000e+04 6.100000e+04 5.660000e+04
 7.600000e+04 1.500000e+05 5.000000e+04 1.130000e+05 7.300000e+04
 9.600000e+04 1.150000e+05 6.750000e+04 5.630000e+04 8.957000e+04
 5.200000e+04 3.600000e+04 9.500000e+04 5.650000e+04 6.800000e+04
 7.400000e+04 5.600000e+04 8.200000e+04 5.850000e+04 4.500000e+04
 2.100000e+05 9.400000e+04 5.700000e+04 5.400000e+04 1.200000e+05
 9.200000e+04 1.060000e+05 7.100000e+04 6.050000e+04 8.800000e+04
 7.350000e+04 5.950000e+04 1.750000e+05 6.180000e+04 4.200000e+04
 5.900000e+04 4.937500e+04 6.870000e+04 3.320000e+04 8.900000e+04
 1.140000e+05 4.600000e+04 1.000000e+05 7.900000e+04 8.760000e+04
 7.740000e+04 4.320000e+04 4.750000e+04 1.070000e+05 6.350000e+04
 9.800000e+04 7.750000e+04 1.320000e+04 8.160000e+04 1.280000e+05
 1.240000e+05 1.300000e+05 1.700000e+05 8.600000e+04 6.250000e+04
 7.700000e+04 1.080000e+05 3.444600e+04 3.840000e+04 8.020000e+04
 7.570000e+04 6.340000e+04 1.050000e+05 1.250000e+05 3.200000e+04
 4.400000e+04 2.350000e+04 7.650000e+04 5.250000e+04 5.220000e+04
 1.100000e+05 4.800000e+04 1.350000e+05 2.200000e+04 2.000000e+04
 1.400000e+05 6.720000e+04 1.040000e+05 5.300000e+04 4.000000e+04
 1.440000e+04 3.940000e+04          nan 4.700000e+04 5.360000e+04
 2.160000e+05 1.120000e+05 3.000000e+04 1.330000e+05 3.300000e+04
 3.400000e+04 6.360000e+04 9.100000e+04 3.500000e+04 7.250000e+04
 2.400000e+04 5.390000e+04 1.020000e+05 6.480000e+04 8.400000e+04
 5.107200e+04 1.030000e+05 4.560000e+04 6.634000e+04 6.060000e+04
 2.830000e+04 9.300000e+04 5.160000e+04 5.100000e+04 7.440000e+04
 8.750000e+04 8.340000e+04 4.300000e+04 6.930000e+04 1.550000e+05
 1.400000e+04 8.050000e+04 3.530000e+04 4.014600e+04 7.420000e+04
 1.170000e+05 5.760000e+04 3.681900e+04 2.160000e+04 4.900000e+04
 8.250000e+04 3.960000e+04 2.000000e+05 6.850000e+04 1.090000e+05
 7.770000e+04 5.080000e+04 4.116000e+04 1.076850e+05 8.670000e+04
 6.000000e+03 1.010000e+05 2.797700e+04 1.560000e+04 6.780000e+04
 5.280000e+04 7.330000e+04 7.320000e+04 7.490000e+04 6.035000e+04
 4.740000e+04 7.050000e+04 7.020000e+04 7.106000e+04 2.800000e+04
 7.080000e+04 8.920000e+04 6.150000e+04 5.520000e+04 9.250000e+04
 9.900000e+04 6.120000e+04 3.750000e+04 1.236000e+05 2.640000e+04
 6.680000e+04 5.640000e+04 8.120000e+04 6.540000e+04 2.700000e+04
 5.450000e+04 1.016400e+04 7.850000e+04 1.200000e+04 9.550000e+04
 7.760000e+04 5.040000e+04 1.300000e+04 1.471200e+04 2.880000e+04
 7.690000e+04 1.870000e+04 2.112000e+04 6.630000e+04 7.930000e+04
 1.560000e+05 1.800000e+05 6.370000e+04 1.220000e+05 4.080000e+04
 6.920000e+04 1.540000e+05 3.000000e+05 3.900000e+04 2.500000e+05
 5.880000e+04 7.175000e+04 8.190000e+04 3.700000e+04 1.590000e+05
 5.776000e+04 2.300000e+04 2.900000e+04 1.100000e+04 8.500000e+05
 2.400000e+05 1.518720e+05 5.000000e+08 8.150000e+04 1.000100e+04
 6.747300e+04 6.650000e+04 5.670000e+04 7.725000e+04 2.500000e+04
 4.920000e+04 2.100000e+04 2.530000e+04 8.560000e+04 1.720000e+05
 5.417913e+04 5.775000e+04 5.906400e+04 5.350000e+04 6.240000e+04
 6.560000e+04 5.550000e+04 3.800000e+04 7.370000e+04 8.755000e+04
 4.070000e+04 4.774500e+04 4.350000e+04 4.985000e+04 4.550000e+04
 1.150000e+04 1.750000e+04 6.590000e+04 1.632000e+04 6.825000e+04
 8.470000e+04 5.050000e+04 1.085000e+05 3.835000e+04]
----------
salary_one_year_ago
[5.8000e+04 5.5000e+04        nan 5.6000e+04 7.5000e+04 7.6000e+04
 6.3000e+04 5.4000e+04 6.0000e+04 5.2000e+04 6.8000e+04 6.2000e+04
 7.0000e+04 8.4000e+04 7.2000e+04 8.5000e+04 7.8600e+04 5.0000e+04
 4.8000e+04 9.7000e+04 6.9000e+04 6.5000e+04 4.5000e+04 7.8000e+04
 6.6000e+04 5.3500e+04 5.7000e+04 8.0000e+04 1.0750e+05 6.7500e+04
 8.2160e+04 3.6000e+04 4.3000e+04 9.2000e+04 6.4000e+04 6.3600e+04
 8.6900e+04 4.7250e+04 9.0000e+04 1.0200e+05 5.9000e+04 3.2000e+04
 5.3000e+04 7.3500e+04 5.7200e+04 6.1200e+04 9.5000e+04 4.7000e+04
 1.6000e+05 4.4000e+04 3.3000e+04 4.6250e+04 5.6400e+04 1.1700e+05
 4.0000e+04 8.7000e+04 8.2500e+04 1.0000e+05 3.9000e+04 1.1400e+05
 7.6800e+04 9.6000e+04 4.7500e+04 6.1000e+04 1.4600e+05 6.7000e+04
 7.3000e+04 1.0500e+05 3.8000e+04 1.2000e+05 4.2000e+04 7.4000e+04
 8.3000e+04 6.1500e+04 2.0000e+04 5.1000e+04 9.8000e+04 8.8000e+04
 8.2000e+04 5.2200e+04 1.1000e+05 2.3000e+04 4.6000e+04 1.0000e+04
 6.8400e+04 3.0000e+04 2.5000e+04 8.1000e+04 5.8000e+01 1.2700e+05
 7.9000e+04 1.3000e+05 2.4000e+04 1.7000e+04 4.9000e+04 9.4000e+04
 1.0300e+05 1.1500e+05 6.4500e+04 6.1100e+04 1.9600e+04 7.7000e+04
 7.2000e+03 1.0700e+05 5.6100e+04 1.4400e+05 9.0000e+03 8.9000e+04
 4.8500e+04 5.2800e+04 7.0200e+04 2.5200e+04 6.4800e+04 1.1200e+05
 1.0000e+00 7.6300e+04 2.0000e+05 2.7500e+04 0.0000e+00 4.1000e+04
 8.6700e+04 3.7000e+04 2.9500e+04 9.9000e+04 2.2730e+04 7.1000e+04
 3.3600e+04 6.7100e+04 9.3000e+04 5.2500e+04 6.2400e+04 7.2500e+04
 6.8500e+04 1.3200e+05 5.7600e+04 5.6500e+04 5.3300e+04 2.1800e+04
 1.0800e+05 8.0600e+04 8.2240e+04 4.3200e+04 5.4500e+04 7.8500e+04
 7.0400e+04 1.2500e+05 1.4712e+04 2.8800e+04 2.7000e+04 2.6000e+04
 8.6000e+04 1.6000e+04 1.6560e+04 6.1400e+04 1.8000e+04 1.5600e+05
 6.9300e+04 1.0400e+05 1.1800e+05 3.5000e+04 2.8000e+04 3.1000e+04
 5.0400e+04 2.3000e+05 7.6000e+05 8.2600e+04 1.2000e+04 1.1000e+04
 1.9000e+05 5.0000e+08 6.3500e+04 9.1000e+04 8.3200e+04 4.5600e+04
 4.4500e+04 1.9000e+04 2.5300e+04 1.6900e+05 5.8040e+04 1.4000e+05
 5.8800e+04 6.2500e+04 4.7745e+04 3.4000e+04 1.5000e+04 3.7500e+04
 5.9500e+04 5.1200e+04 3.3800e+04]
----------
vacation_days
['29.0' '22.0' '27.0' '24.0' '30.0' '25.0' '28.0' '26.0' '40.0' nan '20.0'
 '9.0' '31.0' '23.0' '32.0' '15.0' '5.0' '14.0' '35.0' '36.0' '21.0'
 '60.0' '37.0' '33.0' '4.0' '100.0' '75.0' '27.5' '22.5' '45.0' '28.5'
 '25.5' '38.0' '30' '28' '24' '29' '27' '25' '31' '26' '60' '20' '22' '38'
 '35' '32' '40' '365' '36' '23' '33' '21' 'unlimited' '14' 'unlimited '
 '(no idea)' '30 in contract (but theoretically unlimited)' '0'
 'Unlimited ' '15' '16' '3' '45' '~25' '12' '50' '23+' '99' 'Unlimited'
 '24 labour days' '37.5' '1' '5' '37' '39' '34' '10']
----------
language
['English' 'Deutsch' 'English+Deutsch' 'Russian' nan 'Spanish' 'French'
 'Italian' 'Dutch' 'Polish+English' 'Polish' 'Ukrainian' 'German'
 'English and German' '50/50' 'Русский' 'Czech' 'Deuglisch' 'both'
 'Russian, English']
----------
company_size
['50-100' '10-50' '1000+' '100-1000' 'up to 10' nan '51-100' '101-1000'
 '11-50']
----------
company_type
['Startup' 'Product' nan 'Consulting / Agency' 'Bodyshop / Outsource'
 'University' 'Bank' 'Outsource' 'Media' 'Personal Ltd' 'Cloud' 'Behörde'
 'Construction' 'Big commercial' 'Outsorce' 'Bank ' 'Fintech' 'Automotive'
 'IT Department of established business' 'Telecommunications' 'E-commerce'
 'Systemhaus' 'consumer goods' 'IT-Outsourcing' 'Game Company'
 'Financial ' 'Corporation' 'Publishing and Technology' 'Market Research '
 'e-commerce' 'SaaS' 'Publisher' 'Energy ' 'Enterprise'
 'Bloody enterprise' 'service' 'Concern' 'Utilities' 'Insurance'
 'Science Institute ' 'Research institute' 'Retail' 'Ecommerce'
 'E-Commerce' 'Semiconductor' 'Automotive ' 'Institute' 'Finance'
 'Handel ' 'Consulting and Product' 'Education' 'Pharma'
 'Full-time position in Education, part-time position in at a data startup'
 'Corporation ' 'Transport & Logistics' 'Biergarten ' 'Non-tech retail'
 'Research' 'corporate incubator' 'Multinational ' 'Industry' 'FAANG'
 'Old industry' 'Outsourse' 'freelance' 'eCommerce']
----------
contract_duration
['unlimited' '6 months' nan 'more than 1 year' '1 year'
 'less than 3 months' '3 months' 'Unlimited contract' 'Temporary contract'
 '0']
----------

In [5]:
df = df.rename(columns={"contract_duration" : 'contract_duration'})

In [6]:
df['experience'] = df['experience'].replace({"1 (as QA Engineer) / 11 in total" : '11', "15, thereof 8 as CTO" : '15',
                                            "6 (not as a data scientist, but as a lab scientist)" : '6', "383" : np.nan,
                                            "less than year" : '1', "2,5" : "2.5", "1,5" : "1.5"})

In [7]:
df['city'] = df['city'].replace({"Prefer not to say" : np.nan})

In [8]:
df['contract_duration'] = df['contract_duration'].replace({"Unlimited contract" : 'unlimited', "Temporary contract" : "temporary", 
                                 "0" : np.nan, "1 year" : '1Y', "more than 1 year" : '1Y+', '6 months' : '6M',
                                "3 months" : '3M', "less than 3 months" : '-3M'})

In [9]:
df['vacation_days'] = df['vacation_days'].replace({"30 in contract (but theoretically unlimited)" : "unlimited", '(no idea)' : np.nan,
                            "unlimited " : 'unlimited', 'Unlimited ' : 'unlimited', 'Unlimited' : 'unlimited',
                            '24 labour days' : '24', '23+' : '23', "~25" : '25'})

In [10]:
df['company_type'] = df['company_type'].replace({'eCommerce' : "E-commerce", "E-Commerce" : "E-commerce", 
                    "Ecommerce" : 'E-commerce', "e-commerce" : "E-commerce", "IT Consulting " : "IT Consultancy",
                    "IT Consultancy " : "IT Consultancy", "IT Consultants" : "IT Consultancy", "Consult" : "IT Consultancy",
                    "IT Consulting" : "IT Consultancy", "Consultancy" : "IT Consultancy", "Consulting" : "IT Consultancy",
                    "Full-time position in Education, part-time position in at a data startup" : "Education", 
                    "Consulting Company" : "IT Consultancy", "consulting" : "IT Consultancy", })

In [11]:
df['company_size'] = df['company_size'].replace({"101-1000" : "100-1000", "51-100" : "50-100", "11-50" : "10-50", 
                            "up to 10" : "upto-10"})

In [12]:
df['language'] = df['language'].replace({"Team - Russian; Cross-team - English;" : "Russian/English", 
                        'Russian, English' : "Russian/English", "Deutsch/Englisch" : "Deutsch/English",
                        'English+Deutsch' : "Deutsch/English", "Polish+English" : "Polish/English",
                        'English and German' : 'English/German', "50/50" : np.nan, "both" : np.nan,
                        "Deuglisch" : 'Deutsch/English'})

In [13]:
df['seniority_level'] = df['seniority_level'].replace({"no idea, there are no ranges in the firm " : np.nan, 
                        "student" : 'Student', 'intern' : 'Intern', "No level " : np.nan, "No level" : np.nan, 
                        "C-level executive manager" : 'C-Level', "Working Student" : "Student"})

In [14]:
df['gender'] = df['gender'].replace({"Male" : 'M', "Female" : 'F', "Diverse" : np.nan})

## Type convertion

In [15]:
def date_format(date: str) -> str:
    real = date.split(" ")
    result = real[0]
    result = "/".join(result.split("."))
    return result+ " " +real[1]

In [16]:
df['timestamp'] = df['timestamp'].apply(date_format)
df['age'] = df['age'].astype("Int8")
df['experience'] = df['experience'].astype("Float32").astype("Int8")
df['timestamp'] = pd.to_datetime(df['timestamp'], dayfirst=True)
df['survey_year'] = df['survey_year'].astype("int16")
df['salary'] = df['salary'].astype("float32")
df['salary_one_year_ago'] = df['salary_one_year_ago'].astype("float32")

## Handle Missing Values

In [17]:
mean_imputer = SimpleImputer()
mode_imputer = SimpleImputer(strategy="most_frequent")

In [18]:
(df.isna().mean() * 100).sort_values(ascending=False)

salary_one_year_ago     33.512064
programming_language     6.032172
age                      5.898123
vacation_days            5.495979
contract_duration        2.368186
company_type             2.278820
company_size             1.161752
seniority_level          1.117069
language                 0.759607
experience               0.580876
gender                   0.357462
position                 0.134048
salary                   0.044683
city                     0.044683
timestamp                0.000000
survey_year              0.000000
dtype: float64

- Mean Imputer : for numerical variables

In [19]:
df['age'] = pd.Series(mean_imputer.fit_transform(df['age'].to_numpy().reshape(-1,1)).flatten()).astype(np.int8)
df['experience'] = pd.Series(mean_imputer.fit_transform(df['experience'].to_numpy().reshape(-1,1)).flatten()).astype(np.int8)

- Mode Imputer : for catagorical variables

In [20]:
df['gender'] = pd.Series(mode_imputer.fit_transform(df['gender'].to_numpy().reshape(-1, 1)).flatten())
df['company_type'] = pd.Series(mode_imputer.fit_transform(df['company_type'].to_numpy().reshape(-1, 1)).flatten())
df['contract_duration'] = pd.Series(mode_imputer.fit_transform(df['contract_duration'].to_numpy().reshape(-1, 1)).flatten())
df['vacation_days'] = pd.Series(mode_imputer.fit_transform(df['vacation_days'].to_numpy().reshape(-1, 1)).flatten())

- Impute With unknown/0

In [21]:
df = df.fillna({"city" : "unknown", "position" : "unknown", "seniority_level" : "unknown", "language" : "unknown",
          "company_size" : "unknown", "salary" : 0, "salary_one_year_ago" : 0, "programming_language" : "Not Provided"})

In [22]:
df.head()

,timestamp,age,gender,city,seniority_level,position,experience,programming_language,salary,salary_one_year_ago,vacation_days,language,company_size,company_type,contract_duration,survey_year
0,2019-12-02 11:18:26,33,M,Berlin,Senior,Fullstack Developer,13,PHP,64000.0,58000.0,29.0,English,50-100,Startup,unlimited,2019
1,2019-12-02 11:18:35,29,M,Berlin,Middle,Backend Developer,3,Python,55000.0,55000.0,22.0,English,10-50,Product,unlimited,2019
2,2019-12-02 11:18:56,32,M,Berlin,Middle,Mobile Developer,4,Kotlin,70000.0,55000.0,27.0,English,1000+,Startup,unlimited,2019
3,2019-12-02 11:19:08,30,M,Berlin,Senior,Backend Developer,6,PHP,63000.0,0.0,24.0,English,100-1000,Product,unlimited,2019
4,2019-12-02 11:19:37,32,M,Berlin,Senior,Embedded Developer,10,C/C++,66000.0,56000.0,30.0,English,50-100,Product,unlimited,2019

In [23]:
(df.isna().mean() * 100).sort_values(ascending=False)

timestamp               0.0
age                     0.0
gender                  0.0
city                    0.0
seniority_level         0.0
position                0.0
experience              0.0
programming_language    0.0
salary                  0.0
salary_one_year_ago     0.0
vacation_days           0.0
language                0.0
company_size            0.0
company_type            0.0
contract_duration       0.0
survey_year             0.0
dtype: float64

In [24]:
df.to_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/processed/initial_cleaned_IT_survey(v.0.2).csv", index=False)