In [1]:
import numpy as np
import pandas as pd
import sys
from camel_converter import to_snake

In [2]:
def remove_null_values(df: pd.DataFrame) -> pd.DataFrame:
    df = df[df.columns[df.isna().mean() * 100 < 60]]
    df = df[df.isna().mean(axis=1) * 100 < 50]
    return df

In [3]:
df_19 = remove_null_values(pd.read_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/raw/IT Salary Survey EU 2019.csv"))
df_20 = remove_null_values(pd.read_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/raw/IT Salary Survey EU  2020.csv"))

In [4]:
df_19.columns

Index(['Zeitstempel', 'Age', 'Gender', 'City', 'Seniority level',
       'Position (without seniority)', 'Years of experience',
       'Your main technology / programming language',
       'Yearly brutto salary (without bonus and stocks)', 'Yearly bonus',
       'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Number of home office days per month',
       'Main language at work', 'Company size', 'Company type',
       '小ontract duration', 'Company business sector'],
      dtype='object')

In [5]:
df_20.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', '小ontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?'],
      dtype='object')

In [6]:
df_20 = df_20.drop(columns=['Have you lost your job due to the coronavirus outbreak?', 
            'Other technologies/programming languages you use often', 'Employment status', 
            'Yearly bonus + stocks in EUR', 'Years of experience in Germany',
            'Annual bonus+stocks one year ago. Only answer if staying in same country'])

df_19 = df_19.drop(columns=['Company business sector', 'Yearly bonus', 'Number of home office days per month'])

In [7]:
df_20 = df_20.rename(columns={
    'Total years of experience' : 'experience',
    'Your main technology / programming language' : 'programming_language',
    'Yearly brutto salary (without bonus and stocks) in EUR' : 'salary',
    'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country' : \
    'Salary one year ago',
    'Number of vacation days' : 'vacation_days',
    'Main language at work' : 'language',
    'Position ' : 'Position',
    '小ontract duration' : 'contract duration'
})

In [8]:
df_19 = df_19.rename(columns={
    'Zeitstempel' : 'Timestamp',
    'Position (without seniority)' : 'Position',
    'Years of experience' : 'experience',
    'Your main technology / programming language' : 'programming_language',
    'Yearly brutto salary (without bonus and stocks)' : 'salary',
    'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country' : \
    'Salary one year ago',
    'Number of vacation days' : 'vacation_days',
    'Main language at work' : 'language',
    '小ontract duration' : 'contract duration'
})

In [9]:
df_20['survey_year'] = 2020
df_19['survey_year'] = 2019

In [10]:
df_20.columns = ["_".join(to_snake(each).split(" ")) for each in df_20.columns]
df_19.columns = ["_".join(to_snake(each).split(" ")) for each in df_19.columns]

In [11]:
merged_df = pd.concat([df_19, df_20], axis=0)

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2238 entries, 0 to 1252
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             2238 non-null   object
 1   age                   2106 non-null   float64
 2   gender                2232 non-null   object
 3   city                  2238 non-null   object
 4   seniority_level       2216 non-null   object
 5   position              2235 non-null   object
 6   experience            2226 non-null   object
 7   programming_language  2103 non-null   object
 8   salary                2237 non-null   float64
 9   salary_one_year_ago   1488 non-null   float64
 10  vacation_days         2116 non-null   object
 11  language              2223 non-null   object
 12  company_size          2212 non-null   object
 13  company_type          2187 non-null   object
 14  contract_duration     2186 non-null   object
 15  survey_year           2238 non-null   int64
dtypes: float64(3), int64(1), object(12)
memory usage: 297.2+ KB

In [13]:
from collections import Counter

columns = [*df_19.columns, *df_20.columns]
Counter(columns)

Counter({'timestamp': 2,
         'age': 2,
         'gender': 2,
         'city': 2,
         'seniority_level': 2,
         'position': 2,
         'experience': 2,
         'programming_language': 2,
         'salary': 2,
         'salary_one_year_ago': 2,
         'vacation_days': 2,
         'language': 2,
         'company_size': 2,
         'company_type': 2,
         'contract_duration': 2,
         'survey_year': 2})

In [14]:
merged_df.to_csv("/home/adnan/Documents/codes/data_Science/eda-and-visualization/IT-salary/data/processed/tranformed_IT_survey(v.0.1).csv", index=False)